body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* 이 부분을 추가하여 iframe이 화면을 벗어나지 않도록 설정 */
}

iframe {
    display: block;
    border: none;
    width: 100%;
    height: 100vh; /* 화면 전체 높이로 설정 */
}
