/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
  }
  /*
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  */
  header {
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }
  
  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header h1 {
    font-size: 24px;
    color: #333;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  #hero {
    background-image: url('restaurant.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
    text-align: center;
  }
  
  #hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
  }
  
  .btn {
    display: inline-block;
    background-color: #d35400;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
  }
  
  .btn:hover {
    background-color: #e67e22;
  }
  
  section {
    padding: 80px 0;
  }
  
  section h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  .menu-item {
    width: calc(33.33% - 40px);
    margin: 20px;
    text-align: center;
  }
  
  .menu-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  
  
  .menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 항목들을 각 줄에 균등하게 배치합니다. */
    margin-top: 40px; /* 메뉴와 다른 섹션 사이의 간격을 조정합니다. */
  }
  
  .menu-item {
    width: calc(33.33% - 20px); /* 한 줄에 3개씩 나오도록 너비를 조정합니다. */
    background-color: #f9f9f9;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
  }
  